:root {
    --bgcolor: linear-gradient(to right, #232526, #414345);
    --textcolor: #ffffff;
    --lighttext: #9197ae;
    --accentcolor: #9197ae;
    --accent2: #3e502b;
    --accentlight:  #1c3b4b;
    --warning: rgb(255, 71, 15);
    --link: blue;
}

body {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: var(--bgcolor);
    color: var(--textcolor);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1{
    color: var(--accentcolor);
    font-size: 90px;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 300;
    margin-top: -20px;
    margin-bottom: 40px;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 100%;
    background-color: #151717;
    padding: 20px;
    border-right: 5px solid var(--accentcolor);
}

.sidebar h2 {
    color: var(--textcolor);
    font-size: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: auto;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: var(--textcolor);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: var(--accentlight);
}

.content{
    margin-top: -4em;
    padding: 10em;
    margin-left: 150px;
    animation: appear 0.3s forwards;
}

.content p{
    margin-left: 50px;
}

.content input{
    margin-left: 50px;
}

.content h2{
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 300;
} 

.task{
    display: flex;
    flex-direction: row;
}

.task p{
    margin-left: 20px;
}

button{
    width: 50px;
    height: 30px;
    border-radius: 10%;
    border: 2px solid transparent;
    background-color: var(--bgcolor);
    color: var(--accentcolor);
}

button:hover{
    background-color: var(--accentcolor);
    color: var(--textcolor);
}

.task button{
    margin-top: 10px;
    margin-left: 5px;
}

.analyse button {
    width: 10em;
    height: 3em;
}

#adderinput{
    width:15em;
    height: 2em;
    margin-right: 10px;    
}

#adder{
    margin-top: 50px;
    height: 2.3em;
    width: 70px;
}

#response{
    margin-top: 20px;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}
  
li {
    margin-bottom: 10px;
}

table{
    width: 65em;
}

tr{
    text-align: center;
}

th{
    color: var(--accentcolor);
    border: 2px solid white;
    font-size: 20px;
}

td{
    height: 40px;
    background-color: #6e7176;
}

@keyframes appear{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
  }
  @keyframes l7 {
      33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
      50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
      66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
  }