body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#main {
    display:flex;
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -200px;
  transition: left 0.3s ease;
}

.sidebar-open {
  left: 0;
}

.sidebar-toggle {
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
}

.sidebar-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
}
