:root {
    --bgcolor: #000000;
    --textcolor: #ffffff;
    --lighttext: #828282;
    --accentcolor: #142A36;
    --accentlight:  #1c3b4b;
    --warning: rgb(255, 71, 15);
    --link: blue;
}

body {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1{
    color: var(--lighttext);
    font-size: 90px;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 300;
    margin-top: -20px;
    margin-bottom: 40px;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    min-width: 200px;
    min-height: 100%;
    background-color: var(--accentcolor);
    padding: 20px;
}

.sidebar h2 {
    color: var(--textcolor);
    font-size: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: var(--textcolor);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: var(--accentlight);
}

.content{
    margin-top: -4em;
    padding: 10em;
    margin-left: 150px;
}

.content p{
    margin-left: 50px;
}

.content input{
    margin-left: 50px;
}

.content h2{
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-weight: 300;

} 

.task{
    display: flex;
    flex-direction: row;
}

.task p{
    margin-left: 20px;
}

button{
    width: 50px;
    height: 30px;
    border-radius: 3%;
    border: 2px solid transparent;
    background-color: var(--bgcolor);
    color: var(--lighttext);
}

button:hover{

    background-color: var(--accentcolor);
    color: var(--textcolor);
}

.task button{
    margin-top: 10px;
    margin-left: 5px;
}

#adderinput{
    width:15em;
    height: 2em;
    margin-right: 10px;    
}

#adder{
    margin-top: 50px;
    height: 2.3em;
    width: 70px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}
  
li {
    margin-bottom: 10px;
}

table{
    width: 65em;
}

tr{
    text-align: center;
}

th{
    color: var(--lighttext);
    border: 2px solid white;
}

td{
    height: 40px;
    background-color: var(--accentcolor);
}
