:root {
    --bgcolor: linear-gradient(to right, #232526, #414345);
    --textcolor: #ffffff;
    --lighttext: #9197ae;
    --accentcolor: #9197ae;
    --accent2: #3e502b;
    --accentlight:  #1c3b4b;
    --warning: rgb(255, 71, 15);
    --link: rgb(78, 78, 255);
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: var(--bgcolor);
    color: var(--textcolor);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

input{
    width: 92%;
    padding: 10px;
}

button {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    align-self: center;
    background-color: #007bff;
    border: none;
    color:var(--textcolor);
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #338be9;
}

label{
    font-weight: 500;
}

.redirect a{
    text-decoration: none;
    color: var(--link);
}

.redirect a:visited{
    color: var(--link);
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-box {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 300px;
    height: 370px;   
    background-color: var(--accentcolor);
    color: var(--textcolor);
    padding: 40px;
    border-radius: 3%;
}

#message {
    text-align: center;
    margin-top: 10px;
    color: var(--warning);
}
