:root{
    --bgcolor:#07191d;
    --textcolor:#ffffff;
    --accentcolor:#1a616d;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--bgcolor);
    color: var(--textcolor);
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-box {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 300px;
    height: 200px;   
    background-color: var(--accentcolor);
    color: var(--textcolor);
    padding: 40px;
    border-radius: 5%;
}

.info{
    width: 100%;
}

h1 {
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color:var(--textcolor);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    text-align: center;
    margin-top: 10px;
    color: red;
}
